* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border: 2px solid red;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkList a {
  margin-left: 20px;
}
