* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border: 2px solid red;
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkList a {
  margin-left: 20px;
}

.header {
  border: 5px solid green;
  height: 100vh;
  background-image: url('./head.png');
}

.leftHead {
  max-width: 550px;
  padding: 0 50px;
  margin-top: 200px;
}

.leftHead h1,
.leftHead p {
  margin-bottom: 30px;
}

.leftHead p {
  line-height: 1.8;
}

.leftHead button {
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  background-color: #ff9e01;
  color: white;
  border-radius: 25px;
}
