* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1c1c1c;
}

body {
  font-family: 'OpenSans', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-in;
}

.navbar a {
  cursor: pointer;
}

.navbar.opaque {
  background-color: #ffffff;
}

.navbar.opaque .linkList a {
  color: #ff9e01;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.transparent .linkList a {
  color: #ffffff;
}

.navbar,
.leftHead h1 {
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.linkList a {
  margin-left: 70px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.header {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url('./head.png');
}

.leftHead {
  max-width: 550px;
  margin-top: 200px;
}

.leftHead h1 {
  font-size: 55px;
}

.leftHead h1,
.leftHead p,
.about p,
.about h3 {
  margin-bottom: 30px;
}

.leftHead p,
.about p {
  line-height: 1.8;
  color: rgb(88, 88, 88);
}

.leftHead button,
.about button {
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  background-color: #ff9e01;
  color: white;
  border-radius: 25px;
}
.rightHead {
  width: 50%;
  margin-top: 150px;
}

.rightHead img {
  min-width: 450px;
  width: 85%;
  height: auto;
  border-radius: 100%;
}

.about {
  padding: 40px 80px;
  display: flex;
  align-items: center;
  background-image: url('./AboutBackground.png');
  height: 500px;
}

.about .content {
  max-width: 600px;
}

.about h3 {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.about img {
  width: 450px;
  margin-right: 200px;
}
